[defaults]
host_key_checking = false
inventory = inventory/hosts.ini
roles_path = roles
gathering = smart
deprecation_warnings = true
interpreter_python = auto_silent

[ssh_connection]
pipelining = true
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o PreferredAuthentications=publickey

[privilege_escalation]
become = true
become_method = sudo
become_user = root